#nv{
  font-size: large;
  font-weight: 500;
  color: black;
}

#nvSon{
  color: red;
  font-size: large;
  font-weight: 500;
}
#nvSon:hover{
  color:white;
  background-color: red;
}
#nv:hover{
  color:white;
  background-color: red;
}

.rates{
  border-radius: 5px;
  border: 2px;
  border-style:ridge;
  display:flex;
  margin-top:20px;
  margin-left :30px;
}
ul.rate{
  margin-right: 10px;
  list-style-type:none;
  font-size: 22px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#da6b31;
}

